* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#descuentos {
    background-color: #1CD1B0;
    padding: 5px;
    font-weight: 700;
}

.heroes {
    position: sticky;
    top: 0px;
    background-color: #00669F;
    padding: 15px;
    font-weight: 400;
    font-size: 40px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);    
}

main {
    height: 1200px;
    width: 100%;
}
/* BATMAN */
/* Perfil */
.batman{
    background-image:url('../img/Batman.png');
    background-size: cover;
    position: absolute;
    top: 305px;
    left: 19%;
    height: 150px;
    width: 150px;
    background-color: #00669F;
    border-radius: 100%;
    z-index: 10;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);

}
/* Fondo */
.c1{
    background-image: url('../img/fondoBatman.png');
    position: absolute;
    height: 200px;
    width: 300px;
    top:210px;
    left: 15%;
}
/* Biografía */
.caja1{
    /* display: inline-block; */
    position: absolute;
    height: 336px;
    width: 300px;
    background-color: #F3F3F3;
    top:400px;
    left: 15%;
    
}
/* HARLEY
Perfil */
.harley{
    background-image:url('../img/Harley.png');
    background-size: cover;
    position: absolute;
    top: 305px;
    left: 42%;
    height: 150px;
    width: 150px;
    background-color: #00669F;
    border-radius: 100%;
    z-index: 10;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25); 
}
/* FONDO */
.c2{
    background-image: url('../img/fondoHarley.png');
    position: absolute;
    height: 200px;
    width: 300px;
    top:210px;
    left: 38%;
}
/* Biografía */
.caja2{
    /* display: inline-block; */
    position: absolute;
    height: 336px;
    width: 300px;
    background-color: #F3F3F3;
    top:400px;
    left: 38%;
}
/* ROBIN
Perfil */
.robin{
    background-image:url('../img/Robin.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 305px;
    left: 65%;
    height: 150px;
    width: 150px;
    background-color: #00669F;
    border-radius: 100%;
    z-index: 10;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);

}
.c3{
    background-image:url('../img/fondoRobin.jpg');
    background-size: cover;
    position: absolute;
    height: 200px;
    width: 300px;
    top:210px;
    left: 61%;
    border-radius: 16px 16px 0px 0px;
}
.caja3{
    /* display: inline-block; */
    position: absolute;
    height: 336px;
    width: 300px;
    background-color:#F3F3F3;
    top: 400px;
    left: 61%;
}
.bat{
    text-align: center;
    position: relative;
    top: 40px;
    font-size: 30px;

}
.text{
    margin-top: -50px;
    position:relative;
    padding:0px 15px;
    top: 75px;
}