/*secciones*/
#header {
    background-image:url("img/portada.jpg");
    background-position: center;
    background-size: cover
}

footer {
    background-color: #005677;
    text-align: center;
}

/*etiquetas*/
h1 {
    background-color: #C4C4C4;
    color: #005677;
    font-size: 36px;
    text-align: center;
}

h2 {
    background-color: #C4C4C4;
    color: #005677;
    font-size: 24px;
}

span {
    font-weight: bold; 
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Gentium Plus', serif;
    /* font-family: 'Roboto Mono', monospace; */

}
li {
    /* font-family: 'Gentium Plus', serif; */
    font-family: 'Roboto Mono', monospace
}
p {
    font-family: 'Roboto Mono', monospace
   
}
/*cambio de atributos específicos*/

#foto {
    display: block;
     margin: auto;
     width: 150px;
}

/* .italic {
    font-style: italic;
} */

.margen {
    margin-left: 4.8%;
}